<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FileAction" >

    <test name="FileAction">

        <parameter name="fileLocationHappyPath"  value="src/test/resources/fileHappyPath.txt"/>
        <parameter name="expectedLargestWordHappyPath"  value="abcde"/>
        <parameter name="expectedTransposedWordHappyPath"  value="edcba"/>

        <parameter name="fileLocationOneWord"  value="src/test/resources/fileOneWord.txt"/>
        <parameter name="expectedLargestWordOneWord"  value="ab"/>
        <parameter name="expectedTransposedWordOneWord"  value="ba"/>

        <parameter name="fileLocationMultipleLargeWords"  value="src/test/resources/fileMultipleLargeWords.txt"/>
        <parameter name="expectedLargestWordMultipleLargeWords"  value="abcde"/>
        <parameter name="expectedTransposedWordMultipleLargeWords"  value="edcba"/>

        <parameter name="fileLocationEmpty"  value="src/test/resources/fileEmpty.txt"/>
        <parameter name="fileLocationDoesNotExist"  value="src/test/resources/fileDoesNotExist.txt"/>


        <parameter name="fileLocationMultipleWordsSameLine"  value="src/test/resources/fileMultipleWordsSameLine.txt"/>
        <parameter name="expectedLargestWordMultipleWordsSameLine"  value="abc xxxxxxxxx"/>
        <parameter name="expectedTransposedWordMultipleWordsSameLine"  value="xxxxxxxxx cba"/>

        <parameter name="fileLocationSpecialcharacters"  value="src/test/resources/fileSpecialcharacters.txt"/>
        <parameter name="expectedLargestWordSpecialcharacters"  value="abc#$%)*+@d"/>
        <parameter name="expectedTransposedWordSpecialcharacters"  value="d@+*)%$#cba"/>

        <classes>
            <class name="test.FileActionTest"/>
        </classes>
    </test>
    
</suite> 
